<!DOCTYPE html>
<html>
  <head>
    <title>Atlanta Food Finder</title>
    <!-- Link to external CSS -->{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Atlanta-Food-Finder/css/map.css' %}">
  </head>
  <body>
    <div id="loading">Loading nearby restaurants...</div>
    <div id="map"></div>

    <!-- Include Google Maps API -->
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap" defer></script>

    <!-- Link to external JavaScript -->
    <script src="{% static 'Atlanta-Food-Finder/js/map.js' %}"></script>
  </body>
</html>
