{% extends 'AtlantaFoodFinder/layout.html' %}
{% load static %}

{% block title %}{% block name %}{% endblock %}{% endblock %}
{% block css %}{% endblock %}
    
{% block content %}
    <div class="size-full flex flex-col justify-center items-center bg-light-bg">
        <form class="card bg-base-100 w-96 shadow-xl" method="POST">
            <div class="card-body">
                {% block heading %}{% endblock %}
                {% block form %}{% endblock %}
                <div class="card-actions justify-center">
                    {% block button %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
        
{% block scripts %}{% endblock %}