{% extends 'AtlantaFoodFinder/layout.html' %}
{% load static %}

{% block title %}Map{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'AtlantaFoodFinder/css/sliders.css' %}">{% endblock %}
    
{% block content %}
    <div id="messages" class="absolute inset-x-0 top-0 flex flex-col items-center pt-2">
        <div id="loading" class="pb-2 z-40">
            <div class="card bg-base-100 shadow-xl text-center flex flex-row gap-2 p-2 h-10">
                <span class="loading loading-spinner loading-md"></span> Loading nearby restaurants...
            </div>
        </div>
        <div id="errorTemplate" class="pb-2 hidden z-40">
            <div class="card shadow-xl text-center flex flex-row gap-2 p-2 h-10 text-error bg-red-200">
                <svg class="feather-md">
                    <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#alert-circle" />
                </svg>
                <span>${message}</span>
                <button class="btn btn-error btn-ghost min-h-0 h-6 min-w-0 px-1">
                    <svg class="feather-sm">
                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#x" />
                    </svg>
                </button>
            </div>
        </div>
        <!-- ERROR MESSAGES GO HERE -->
    </div>
    <div id="map" class="size-full"></div>
    <div class="absolute top-4 left-4 flex flex-col gap-4">
        <button class="btn btn-primary p-4 min-h-0 h-max rounded-full" onclick="toggleSearch()">
            <svg class="feather-lg">
                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#search" />
            </svg>
        </button>
        <button id="favoritesButton" class="btn btn-primary p-4 min-h-0 h-max rounded-full" onclick="toggleFavorites()">
            <svg class="feather-lg" id="star">
                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#star" />
            </svg>
        </button>
        <button class="btn btn-primary p-4 min-h-0 h-max rounded-full">
            <svg class="feather-lg">
                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#settings" />
            </svg>
        </button>
    </div>
    <div class="absolute bottom-8 left-4 flex flex-col">
        <button onclick="reCenter()" class="btn btn-primary pb-1.5 pl-1.5 pr-2.5 pt-2.5 min-h-0 h-max rounded-full mb-2">
            <svg class="feather-md">
                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#navigation" />
            </svg>
        </button>
        <button onclick="zoom(1)" class="btn btn-primary p-2 min-w-0 h-max block !scale-100 rounded-full rounded-b-none border-0 border-b border-base-content border-opacity-15">
            <svg class="feather-md">
                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#plus" />
            </svg>
        </button>
        <button onclick="zoom(-1)" class="btn btn-primary p-2 min-w-0 h-max block !scale-100 rounded-full rounded-t-none">
            <svg class="feather-md">
                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#minus" />
            </svg>
        </button>
    </div>
    <div id="search" class="absolute inset-y-4 right-4 card bg-base-100 w-[32rem] max-w-[calc(100vw-7rem)] shadow-xl">
        <div class="card-body h-full p-0 pb-4">
            <label class="input input-bordered input-secondary m-6 mb-1 py-2">
                <input id="searchBar" type="text" class="grow" placeholder="Search..." />
                <button class="btn btn-secondary btn-ghost min-h-0 size-8 p-0">
                    <svg class="feather-sm">
                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#search" />
                    </svg>
                </button>
            </label>
            <div id="controls" class="flex flex-row items-end gap-2 px-6">
                <fieldset id="find" class="grow">
                    <legend>Find:</legend>
                    <details class="dropdown w-full">
                        <summary class="list-none input input-secondary input-bordered m-1">
                            <span class="grow">Most Popular</span>
                            <svg class="feather-sm chevron">
                                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#chevron-down" />
                            </svg>
                        </summary>
                        <ul class="menu dropdown-content bg-base-200 rounded-box z-[1] w-full p-2 shadow min-w-max gap-1">
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow" id="popReg">Most Popular</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="find" value="popular" checked="checked"  class="hidden" />
                                </label>
                            </li>
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow">Closest</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="find" value="close" class="hidden" />
                                </label>
                            </li>
                        </ul>
                    </details>
                </fieldset>
                <fieldset id="sort" class="grow">
                    <legend>Sort by:</legend>
                    <details class="dropdown w-full">
                        <summary class="list-none input input-secondary input-bordered m-1">
                            <span class="grow">None</span>
                            <svg class="feather-sm chevron">
                                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#chevron-down" />
                            </svg>
                        </summary>
                        <ul class="menu dropdown-content bg-base-200 rounded-box z-[1] w-full p-2 shadow min-w-max gap-1">
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow">None</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="sort" value="none" class="hidden" />
                                </label>
                            </li>
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow">Distance</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="sort" value="distance" class="hidden" />
                                </label>
                            </li>
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow">Rating</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="sort" value="rating" class="hidden" />
                                </label>
                            </li>
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow">Price asc.</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="sort" value="priceA" class="hidden" />
                                </label>
                            </li>
                            <li>
                                <label class="flex flex-row">
                                    <span class="grow">Price desc.</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="radio" name="sort" value="priceD" class="hidden" />
                                </label>
                            </li>
                        </ul>
                    </details>
                </fieldset>
                <fieldset id="filter" class="grow-0">
                    <details class="dropdown dropdown-end w-full">
                        <summary class="btn btn-secondary btn-flat m-1">
                            <svg class="feather-md">
                                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#filter" />
                            </svg>
                        </summary>
                        <ul class="menu dropdown-content bg-base-200 rounded-box z-[1] w-full p-2 shadow min-w-max gap-1">
                            <li class="transition-colors">
                                <label class="flex flex-row">
                                    <span class="grow">Distance</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="checkbox" name="distance" class="hidden" />
                                </label>
                            </li>
                            <li class="transition-colors">
                                <label class="flex flex-row">
                                    <span class="grow">Rating</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="checkbox" name="rating" class="hidden" />
                                </label>
                            </li>
                            <li class="transition-colors">
                                <label class="flex flex-row">
                                    <span class="grow">Price</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="checkbox" name="price" class="hidden" />
                                </label>
                            </li>
                            <li class="transition-colors">
                                <label class="flex flex-row">
                                    <span class="grow">Open</span>
                                    <svg class="feather-sm">
                                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                                    </svg>
                                    <input type="checkbox" name="open" class="hidden" />
                                </label>
                            </li>
                        </ul>
                    </details>
                </fieldset>
            </div>
            <div id="distance" class="px-6 hidden">
                <label>
                    Max distance:
                    <span class="flex flex-row items-center gap-2">
                        0
                        <span class="tooltip tooltip-secondary grow h-5" data-tip="5.0 mi" style="--slider-progress: 1">
                            <input type="range" min="0" max="5" step="0.1" value="5" class="slider slider-secondary" />
                        </span>
                        5 mi
                    </span>
                </label>
            </div>
            <div id="rating" class="px-6 hidden">
                <label>
                    Min rating:
                    <span class="flex flex-row items-center gap-2">
                        0
                        <span class="tooltip tooltip-secondary grow h-5" data-tip="0.0">
                            <input type="range" min="0" max="5" step="0.5" value="0" class="slider slider-secondary" />
                        </span>
                        <span class="flex flex-row items-center gap-1">
                            5
                            <svg class="feather-sm fill-accent">
                                <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#star" />
                            </svg>
                        </span>
                    </span>
                </label>
            </div>
            <div id="price" class="px-6 hidden">
                <label>
                    Price range:
                    <span class="flex flex-row items-center gap-2">
                        $
                        <span class="grow h-5 relative">
                            <input type="range" min="1" max="4" step="1" value="1" class="slider slider-secondary min-slider" />
                            <input type="range" min="1" max="4" step="1" value="4" class="slider slider-secondary max-slider" />
                        </span>
                        $$$$
                    </span>
                </label>
            </div>
            <ul id="results" class="grow w-full menu menu-vertical gap-2 overflow-scroll flex-nowrap px-6 scroll-shadow top">
                <!-- RESTAURANT RESULTS GO HERE -->
            </ul>
        </div>
    </div>
    <div id="details" class="absolute inset-y-4 right-4 card bg-base-100 w-96 max-w-[calc(100vw-7rem)] shadow-xl">
        <figure class="max-h-60">
            <img src="{% static 'AtlantaFoodFinder/images/placeholder.jpg' %}" alt="Restaurant Image" />
            <div class="absolute inset-x-0 top-0 p-4 flex flex-row {% if user.is_authenticated %}justify-between{% else %}justify-start{% endif %}">
                <button class="btn btn-ghost min-h-0 min-w-0 size-10 p-2">
                    <svg onclick="hideDetails('')" class="feather-md">
                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#x" />
                    </svg>
                </button>
                {% if user.is_authenticated %}
                    <button onclick="handleFavorite()" class="btn btn-ghost btn-accent min-h-0 min-w-0 size-10 p-2">
                        <svg id="favoriteIcon" class="feather-md">
                            <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#star" />
                        </svg>
                    </button>
                {% endif %}
            </div>
        </figure>
        <div class="card-body w-full h-full justify-start overflow-y-scroll">
            <div class="w-full flex flex-row justify-between items-center">
                <h2 class="card-title grow-0"></h2>
                <p class="open grow-0"></p>
            </div>
            <small class="address grow-0"></small>
            <div class="flex flex-row justify-between">
                <p class="rating grow-0 flex flex-row gap-2 items-center">
                    <span class="number"></span>
                    <span class="stars flex flex-row gap-0 items-center"></span>
                    <span class="count"></span>
                </p>
                <p class="price grow-0"></p>
            </div>
            <a class="grow-0 link link-accent transition-colors mb-4" target="_blank" rel="noopener noreferrer">View on Google Maps</a>
            <div class="collapse transition-all collapse-arrow bg-base-200">
                <input type="radio" name="my-accordion" checked="checked" />
                <div class="collapse-title text-2xl font-heading font-medium">Info</div>
                <div class="collapse-content flex flex-col gap-2">
                    <h4 class="grow-0">Description:</h4>
                    <p class="desc grow-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id tortor mauris. Cras ut ex ante. Donec nec est vitae velit porta lacinia a in eros. In et leo a elit aliquam commodo. Etiam in porta augue. Suspendisse sit amet viverra metus, dictum molestie sem. Duis lectus lorem, molestie eget est sed, facilisis lacinia tortor.</p>
                    <small class="types grow-0">Restaurant, Bar, etc...</small>
                    <h4 class="grow-0 mt-2">Price:</h4>
                    <p class="price-level grow-0">Typically between...</p>
                    <p class="payment-methods grow-0">Accepts Credit, Debit, Contactless</p>
                    <svg class="feather-sm hidden" id="check">
                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#check" />
                    </svg>
                    <svg class="feather-sm hidden" id="x">
                        <use href="{% static 'AtlantaFoodFinder/icons/feather-sprite.svg' %}#x" />
                    </svg>
                    <div class="w-full grid info-grid grid-rows-5 grid-flow-col grow-0 mt-2">
                        <span class="breakfast flex flex-row items-center gap-1"><svg></svg>Breakfast</span>
                        <span class="brunch flex flex-row items-center gap-1"><svg></svg>Brunch</span>
                        <span class="lunch flex flex-row items-center gap-1"><svg></svg>Lunch</span>
                        <span class="dinner flex flex-row items-center gap-1"><svg></svg>Dinner</span>
                        <span class="cocktails flex flex-row items-center gap-1"><svg></svg>Cocktails</span>
                        <span class="dine-in flex flex-row items-center gap-1"><svg></svg>Dine-in</span>
                        <span class="reserve flex flex-row items-center gap-1"><svg></svg>Reservations</span>
                        <span class="takeout flex flex-row items-center gap-1"><svg></svg>Takeout</span>
                        <span class="deliver flex flex-row items-center gap-1"><svg></svg>Delivery</span>
                        <span class="pickup flex flex-row items-center gap-1"><svg></svg>Curbside Pickup</span>
                    </div>
                </div>
            </div>
            <div class="collapse transition-all collapse-arrow bg-base-200">
                <input type="radio" name="my-accordion" />
                <div class="collapse-title text-2xl font-heading font-medium">Hours & Contact</div>
                <div class="collapse-content flex flex-col gap-2">
                    <h4 class="grow-0">Contact: </h4>
                    <p class="phone grow-0">Phone: </p>
                    <p class="grow-0 break-words">Website: <a class="website link link-accent break-words" href=""></a></p>
                    <h4 class="grow-0 mt-2">Hours</h4>
                    <ul class="hours grow-0"></ul>
                </div>
            </div>
            <div class="collapse transition-all collapse-arrow bg-base-200">
                <input type="radio" name="my-accordion" />
                <div class="collapse-title text-2xl font-heading font-medium">Reviews</div>
                <div class="collapse-content flex flex-col gap-4">
                    <h4 class="grow-0">Top 5 Reviews:</h4>
                    <div class="grow-0 reviews w-full flex flex-col gap-3">
                        <!-- REVIEWS GO HERE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="favorites" class="absolute inset-y-4 right-4 card bg-base-100 w-96 max-w-[calc(100vw-7rem)] shadow-xl p-0">
        <div class="card-body h-full p-0 pb-4">
            <h1 class="p-6 pb-4">Favorites</h1>
            {% if user.is_authenticated %}
                <ul id="favoriteRestaurants" class="grow w-full menu menu-vertical gap-2 overflow-scroll flex-nowrap px-6 scroll-shadow">
                    <!-- FAVORITE RESTAURANT GO HERE -->
                </ul>
            {% else %}
                <h4>You need to be loggen in to access favorites!</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
        
{% block scripts %}
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyD9Y17reV-j_GJXrsZ8_r5qssFG_iidaco",
        v: "beta",
      });
    </script>
    <script src="{% static 'AtlantaFoodFinder/js/globals.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/loading.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/error.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/location.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/map.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/nearby.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/search.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/filter.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/details.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/favorites.js' %}"></script>
    <script src="{% static 'AtlantaFoodFinder/js/shadow.js' %}"></script>
{% endblock %}